:root {
    --background-color: #14213D;
    --highlight-color: #FCA311;
    --text-color-light: #E5E5E5;
    --text-color-dark: #000000;
}

html {
    background-color: var(--highlight-color);
}

section {
    background: var(--highlight-color);
    background-image: url("../resources/film-bg.png");
    background-image: url("../resources/film-bg.png"), linear-gradient(225deg, hsla(37, 98%, 53%, 1) 0%, hsla(62, 76%, 64%, 1) 100%);
    background-size: cover;
}

section > div.container {
    overflow: scroll;
}

.card {
    background: rgba(20, 33, 61, 0.85);
}

#auth-other-link {
    color: var(--highlight-color);
}

#auth-other-link:hover {
    color: var(--text-color-light);
}

#firstNameDiv {
    margin-right: 5px;
}

#lastNameDiv {
    margin-left: 5px;
}

@media only screen and (max-width: 768px) {
    #firstNameDiv {
        margin-right: 0;
    }

    #lastNameDiv {
        margin-left: 0;
    }
}

@media only screen and (max-width: 480px) {
    
    section {
        background-image: none;
    }

    #form-logo {
        width: 200px;
    }

    .card {
        background: rgba(20, 33, 61, 1.0);
    }

    .card:hover {
        transform: none;
    }
    
}