
#add-pick-button.btn.btn-primary {
    border-radius: 1.9rem;
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
}

#add-pick-button.btn.btn-primary:hover {
    background-color: var(--text-color-light);
    color: var(--text-color-dark);
    border-color: var(--text-color-dark);
}